html,
body,
#root {
    min-height: 100%;
}

body {
    margin: 0;
    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        font-size 0.2s ease,
        font-family 0.2s ease;
}

* {
    box-sizing: border-box;
}